Windows App/QpxExpress/QpxExpress.Data/obj/
Windows App/QpxExpress/QpxExpress.Services/obj/
Windows App/QpxExpress/QpxExpressApp.Model/obj/
Windows App/QpxExpress/QpxExpressApp/obj/
Windows App/QpxExpress/QpxExpressApp/bin/
